<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to bootstrap -->
			<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
		</head>
		<body>
			<div class="topnav nav" id="myTopnav">
			  <a href="home.html"><h3><span style="color:#06d6a0;">J</span>UST 
			  <span style="color:#1579a6;">F</span>OR <span style="color:#06d6a0;">G</span>
			  AMERS</h3></a>	
				
			
			  <a href="#home">Home</a>
			  <a href="#news">News</a>
			  <a href="#contact">Contact</a>
			  <a href="#about">About</a>
			  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
			</div>
			
			
			
			{{ content }}
			
			
			<footer>
	    		
			</footer>
			<script src="/js/jquery-2.1.4.js"></script>
			<script src="/js/bootstrap.min.js"></script>
			<script src="js/main.js"></script>
		</body>
	</html>
