<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to bootstrap -->
			<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
			<!-- Menu Links -->
			<!-- CSS reset -->
			<link rel="stylesheet" href="css/reset.css"> 
			<!-- Resource style -->
			<link rel="stylesheet" href="css/style.css"> 
			<!-- Modernizr -->
			<script src="js/modernizr.js"></script>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
		</head>
		<body>
			<nav class="cd-stretchy-nav">
		<a class="cd-nav-trigger" href="#0">
			
			<span aria-hidden="true"></span>
		</a>

		<ul>
			<li><a href="#0" class="active"><span>Home</span></a></li>
			<li><a href="#0"><span>Portfolio</span></a></li>
			<li><a href="#0"><span>Services</span></a></li>
			<li><a href="#0"><span>Store</span></a></li>
			<li><a href="#0"><span>Contact</span></a></li>
		</ul>

		<span aria-hidden="true" class="stretchy-nav-bg"></span>
	</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
			<script src="/js/jquery-2.1.4.js"></script>
			<script src="/js/bootstrap.min.js"></script>
			<script src="js/main.js"></script>
		</body>
	</html>
