<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<link rel = "stylesheet" type = "text/css" href = "css/bootstrap.css" />
			<link rel="stylesheet" type = "text/css" href="css/fontawesome.min.css">
			<link rel = "stylesheet" type = "text/css" href = "css/style.css" />
			<title>Test Site</title>
			
		</head>
		<body>
			<nav class="nav" id="nav">
	
				<a href="home.html"><h3><span style="color:#06d6a0;">J</span>UST <span style="color:#1579a6;">F</span>OR <span style="color:#06d6a0;">G</span>AMERS</h3></a>
		
				<div class="social2 hidden" id="social2">
					<i class="fa fa-facebook" aria-hidden="true"></i>
					<i class="fa fa-twitter" aria-hidden="true"></i>
					<i class="fa fa-google" aria-hidden="true"></i>
					<i class="fa fa-youtube" aria-hidden="true"></i>
					<i class="fa fa-twitch" aria-hidden="true"></i>
				</div>

				<ul>
					<a href="home.html"><li><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
					<a href="#"><li><i class="fa fa-info-circle" aria-hidden="true"></i> About Us</a></li>
					<a href="#"><li><i class="fa fa-envelope" aria-hidden="true"></i> Contact Us</a></li>
				</ul>

			</nav>
			
			
			
			{{ content }}
			
			
			<footer>
	    		
			</footer>
			<script src="/js/jquery-2.1.4.js"></script>
			<script src="/js/bootstrap.min.js"></script>
			<script src="js/main.js"></script>
		</body>
	</html>
